<h1>New company_competitor</h1>

<% form_for(@company_competitor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', company_competitors_path %>