<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
      <p>Hi <%= @body[:full_name] %>,</p>
      <p>We received your message that you have forgotten your password.</p>
      <p>Here&#39;s a reminder of your login details and a NEW password, which you can change within Finfore.net.</p>
        <ul>
          <li>Username : <%= @body[:login_email] %></li>
          <li>Password : <%= @body[:password] %></li>
        </ul>
      <p>If you did not request a new password, and believe you received this message in error, <a href="mailto:info@fastnd.com?subject=Receipt%20of%20New%20Password&amp;body=Dear%20Shane%2C%0A%0AI%20have%20received%20a%20new%20password%2C%20even%20though%2C%20I%20did%20not%20request%20one.">please let us know as soon as possible</a>.</p>
      <p>Many thanks,</p>
      <p>Shane Leonard, CFA</p>
      <p>Managing Director,</p>
      <p>Finfore Limited.</p>
    </body>
   </html>
