<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
    <p>Hi <%= @user.full_name %>,</p>
    <p>And welcome to Finfore.net.</p>
    <p>We hope you enjoy our tools specially designed to help you &quot;manage your information overload&quot; in finance. Before you login, please review our <a href="http://www.finfore.net/legal.html">Legal Notices</a>.&nbsp;</p>
    <p>You have created an account with the following details:</p>
    <ul>
      <li>Username: <%= @user.login %></li>
      <li>Password: <%= @password %></li>
    </ul>
    <p>You can access Finfore.net at our website or via <a href="http://www.finfore.net/download.html">download to your desktop</a>.</p>
    <p>Many thanks for joining, and if you would like to send us feedback, please <a href="mailto:shane@finfore.net?subject=Message%20to%20the%20CEO&amp;body=Hi%20Shane%2C%0A%0A">email me here</a>.</p>
    <p>Look forward to hearing from you,</p>
    <p>Shane Leonard, CFA</p>
    <p>Managing Director,</p>
    <p>Finfore Limited.&nbsp;</p>    
    </body>
   </html>
    
