<div id="finforeSuggestion" style="float:left;width:50%;">
 <%= render :partial => "feed_accounts/finfore_suggestion" %>
</div>

<div id="columnFeed">
  <%= render :partial => "feed_accounts/column_feeds" %>
</div>