<h1>Listing noticeboard_role_users</h1>

<table>
  <tr>
  </tr>

<% @noticeboard_role_users.each do |noticeboard_role_user| %>
  <tr>
    <td><%= link_to 'Show', noticeboard_role_user %></td>
    <td><%= link_to 'Edit', edit_noticeboard_role_user_path(noticeboard_role_user) %></td>
    <td><%= link_to 'Destroy', noticeboard_role_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New noticeboard_role_user', new_noticeboard_role_user_path %>