<h1>Editing populate_feed_info</h1>

<% form_for(@populate_feed_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @populate_feed_info %> |
<%= link_to 'Back', populate_feed_infos_path %>