<h1>New populate_feed_info</h1>

<% form_for(@populate_feed_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', populate_feed_infos_path %>