<h1>Editing user_column</h1>

<% form_for(@user_column) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_column %> |
<%= link_to 'Back', user_columns_path %>