<h1>Listing user_columns</h1>

<table>
  <tr>
  </tr>

<% @user_columns.each do |user_column| %>
  <tr>
    <td><%= link_to 'Show', user_column %></td>
    <td><%= link_to 'Edit', edit_user_column_path(user_column) %></td>
    <td><%= link_to 'Destroy', user_column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_column', new_user_column_path %>