<div id="content">
        <div class="inner">
    <!--[if !IE]>start section<![endif]-->
    <div class="">
    <!--[if !IE]>start title wrapper<![endif]-->
      <div class="title_wrapper">
        <span class="title_wrapper_top"></span>
        <div class="title_wrapper_inner">
          <span class="title_wrapper_middle"></span>
          <div class="title_wrapper_content">
            <h2>Top 10 Suggestions</h2>
          </div>
        </div>
        <span class="title_wrapper_bottom"></span>
      </div>
      <!--[if !IE]>end title wrapper<![endif]-->
      <!--[if !IE]>start section content<![endif]-->
      <div class="section_content">
        <span class="section_content_top"></span>
        <div class="section_content_inner">
          <!--[if !IE]>start dashboard menu<![endif]-->
          <div style="height:250px;" valign="middle">
            <div class="rss_chart" style="height:250px;float:left;width:50%">
              loading rss chart ...
            </div>
            <div class="company_chart" style="height:250px;float:left;width:50%">
              loading company chart ...
            </div>
            <div class="twitter_chart" style="height:250px;float:left;width:50%">
              loading twitter chart ...
            </div>
            <div class="chart_chart" style="height:250px;float:left;width:50%">
              loading rss chart ...
            </div>
            <div class="company_chart" style="height:250px;float:left;width:50%">
              loading company chart ...
            </div>
            <div class="twitter_chart" style="height:250px;float:left;width:50%">
              loading twitter chart ...
            </div>
            <div class="chart_chart" style="height:250px;float:left;width:50%">
              loading price chart ...
            </div>
          </div>
          <!--[if !IE]>end dashboard menu<![endif]-->
        </div>
        <span class="section_content_bottom"></span>
      </div>
      <!--[if !IE]>end section content<![endif]-->
    </div>
    <!--[if !IE]>end section<![endif]-->
        </div>
</div>

