<h1>Listing noticeboard_roles</h1>

<table>
  <tr>
  </tr>

<% @noticeboard_roles.each do |noticeboard_role| %>
  <tr>
    <td><%= link_to 'Show', noticeboard_role %></td>
    <td><%= link_to 'Edit', edit_noticeboard_role_path(noticeboard_role) %></td>
    <td><%= link_to 'Destroy', noticeboard_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New noticeboard_role', new_noticeboard_role_path %>