<h1>Editing noticeboard_comment</h1>

<% form_for(@noticeboard_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @noticeboard_comment %> |
<%= link_to 'Back', noticeboard_comments_path %>