<h1>New noticeboard_comment</h1>

<% form_for(@noticeboard_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', noticeboard_comments_path %>