<div class="section noticable" style="margin-bottom:55px;">
  <ul class="system_messages">
    <li class="green">
      <span class="ico"></span>
      <strong class="system_title"><%= message %></strong>
      <a class="close" href="#" onclick="javascript:closeMe($('.noticable'));">CLOSE</a>
    </li>
  </ul>
</div>