<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>FastNd Control Panel</title>
    <%= stylesheet_link_tag 'application-login' %>
    <!--[if lte IE 6]><%= stylesheet_link_tag 'application-login-ie' %><![endif]-->
  </head>
  <body>
	  <!--[if !IE]>start wrapper<![endif]-->
    <div id="wrapper">
      <div id="wrapper2">
        <div id="wrapper3">
          <div id="wrapper4">
            <span id="login_wrapper_bg"></span>
            <div id="stripes">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[if !IE]>end wrapper<![endif]-->
  </body>
</html>